.card{
    margin-bottom: 20px !important;
}
.applicationContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    cursor: pointer;
    .commonStyle{
        display: flex;
        align-items: center;
    }
    
    .applicationInfo{
        flex: 0.7;
        justify-content: space-around;

        .companyLogo{
            width: 23%;
            img{
                width: 100%;
                min-width: 50px;
            }
        }

        .jobInfo{
            flex: 0.8;

            p{
                margin-left: 10px;
            }
        }
        
    }

    .applicationStatusDiv{
        flex: 2;
        display: flex;
        justify-content: flex-end;

        .applicationStatus{
            width: 80%;
        }
    }
}

.applicationContainer:hover{
    background-color: #E8F6FF;
}

.accordianContent{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.accordianContent.open{
    max-height: 300px;
}