.navigation{
    background-color: #E9F6FF !important;

    .home{
        color: #FE7A36 !important;
        text-decoration: none !important;

    }

    .help{
        color: #3652AD !important;
        text-decoration: none !important;
    }

    .navButton{
        background-color: #280274 !important;
        color: #F2F597 !important;
    }
}
